@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Regular';
  src: url('../fonts/Circe-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Bold';
  src: url('../fonts/Circe-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Regular';
  src: url('../fonts/Raleway-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

